@import "tailwindcss";
@import "tw-animate-css";

body {
  color: white;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.text-stroke {
  color: rgba(0, 0, 0, 0);
  -webkit-text-fill-color: rgba(0, 0, 0, 0); /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(143, 143, 143);
}

.drop-shadow-custom-30 {
  box-shadow: 0px 4px 30px 0px #00000014;
}

.drop-shadow-custom-40 {
  box-shadow: 0px 4px 40px 0px #0000000F;
}

@keyframes scrollRight {
  from {
      transform: translateX(0);
  }

  to {
      transform: translateX(-50%);
  }
}

@keyframes scrollLeft {
  from {
      transform: translateX(-50%);
  }

  to {
      transform: translateX(0);
  }
}

.animate-scroll-right {
  display: flex;
  white-space: nowrap;
  will-change: transform;
  animation: scrollRight 30s linear infinite;
}

.animate-scroll-left {
  display: flex;
  white-space: nowrap;
  will-change: transform;
  animation: scrollLeft 30s linear infinite;
}

@media (max-width: 640px) {
  .animate-scroll-right {
    animation: scrollRight 10s linear infinite;
  }
  
  .animate-scroll-left {
    animation: scrollLeft 10s linear infinite;
  }
}

@media (max-width: 1270px) {
  .custom-col {
    flex-direction: column;
  }
  .custom-col-rev {
    flex-direction: column-reverse;
  }
  .custom-pad {
    padding-left: 0px;
  }
}
@media (min-width: 768px) and (max-width: 1270px) {
  .custom-width {
    width: 100%;
  }
  .custom-align {
    align-items: center;
  }
  .custom-row {
    flex-direction: row;
  }
  .custom-hidden {
    display: none;
  }
  .custom-flex {
    display: flex;
  }
}

@media (min-width: 640px) and (max-width: 1200px) {
  .testi {
    width: 460px;
  }
}























